.btn[type="submit"] {
  padding: 5px 8px;
  font-size: 22px;
}

.form-error-message {
  display: none;
  color: red;
  transition: 300ms ease;
  font-weight: bold;

  & .active {
    display: block;
  }
}

.transaction-heading {
  text-align: center;
  border-top-right-radius: 6px;
  position: relative;
  top: 1px;
  border-top-left-radius: 6px;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.transaction-wrapper {
  border: solid 1px var(--clr-neutral-900);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  padding-inline: 1.4rem;
  padding-top: 25px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 6px;
  border-radius: 6px;
  padding: 4px 6px;

  &:hover {
    background-color: #eeedeb;
  }
}

.transaction-item-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.transaction-total {
  text-align: right;
  margin-block: 24px 12px;
}
